@model IEnumerable<PartyStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var productItem in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => productItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => productItem.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => productItem.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => productItem.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=productItem.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=productItem.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=productItem.ProductId })
        </td>
    </tr>
}

</table>
